article {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #9f8c5f;
  width: -moz-fit-content; /* Firefox */
  width: fit-content;
  border-style: solid;
  -webkit-user-select: none; /* Safari ios support*/
  user-select: none;
  z-index: 0;
}
