button {
  padding: 0;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
}

[data-output] {
  padding: 0;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--color-primary);
  right: -8px;
  top: 25%;
}

[data-input] {
  padding: 0;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--color-primary);
  left: -8px;
  top: 25%;
}
